.login {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);

	&__header {
		text-align: left;

		h1 {
			font-size: var(--typography-fontSize-xl);
			font-weight: var(--typography-fontWeight-bold);
			color: var(--colors-text-primary);
			margin: 0;
		}

		p {
			font-size: var(--typography-fontSize-sm);
			color: var(--colors-text-muted);
			margin-top: var(--spacing-xs);
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-lg);
	}

	&__options {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: var(--font-size-sm);
	}
}
